@import "../base/variables.scss";
@import "../base/colors.scss";

$box-border-width: 0.125em;
$box-border-radius: 0.25em;
$box-padding: 0.75em;

%rpg-box-shared {
    font-size: $base-font-size;
    border-width: $box-border-width;
    border-style: solid;
    border-color: $border-light $border-dark $border-dark $border-light;
    border-radius: $box-border-radius;
    padding: $box-padding;
}

// div
.rpg-box {
    @extend %rpg-box-shared;
    background-color: $primary-light;
    background-image: linear-gradient(170deg, $primary-light, $primary-dark);
}

// div
.rpg-title-box {
    @extend %rpg-box-shared;
    text-align: center;
    background-color: $alpha-primary;
}