@import "../base/colors.scss";
@import "../base/variables.scss";

$button-spacing: 0.5em;

.rpg-button {
    font-size: $base-font-size;
    text-align: center;
    background-color: transparent;
    padding: $button-spacing 0em;
    margin-right: $button-spacing;

    &:hover {
        cursor: pointer;
    }

    &:active {
        color: $alpha-white-medium;
    }

    &[disabled] {
        color: $gray-medium;
        cursor: not-allowed;
    }

    &:focus {
        outline: none;
    }

    &.wide {
        display: block;
        width: 100%;
    }
}