$alpha-white: rgba(255, 255, 255, 0.9);
$alpha-white-muted: rgba(255, 255, 255, 0.7);
$alpha-dark: rgba(0, 0, 0, 0.5);

$primary-light: rgb(18, 53, 222);
$primary-dark: rgb(6, 0, 51);

$hp: rgb(22, 170, 214);
$mp: rgb(23, 185, 36);

$border-light: rgb(199, 199, 199);
$border-dark: rgb(172, 172, 172);

$limit-break-pink: rgb(234, 154, 168);
$limit-break-orange: rgb(222, 184, 154);
$limit-break-yellow: rgb(235, 231, 184);
$limit-break-green: rgb(218, 241, 191);
$limit-break-blue: rgb(160, 225, 225);
$limit-break-indigo: rgb(158, 160, 222);
$limit-break-violet: rgb(240, 197, 244);

$gray-medium: rgb(101, 101, 101);