$alpha-white: rgba(255, 255, 255, 0.85);
$alpha-white-medium: rgba(255, 255, 255, 0.5);
$alpha-white-dark: rgba(255, 255, 255, 0.3);

$alpha-black: rgba(0, 0, 0, 0.5);
$alpha-black-dark: rgba(0, 0, 0, 0.3);

$primary-light: rgb(6, 32, 156);
$primary-dark: rgb(6, 0, 51);
$alpha-primary: rgba(16, 2, 130, 0.5);

$toggle-radio: rgb(234, 40, 210);
$toggle-radio-dark: rgb(74, 4, 69);
$toggle-checkbox: rgb(36, 222, 50);
$toggle-checkbox-dark: rgb(0, 27, 3);

$hp: rgb(22, 170, 214);
$mp: rgb(23, 185, 36);
$accent: rgb(40, 224, 222);

$border-light: rgb(199, 199, 199);
$border-dark: rgb(172, 172, 172);

$limit-break-pink: rgb(234, 154, 168);
$limit-break-orange: rgb(222, 184, 154);
$limit-break-yellow: rgb(235, 231, 184);
$limit-break-green: rgb(218, 241, 191);
$limit-break-blue: rgb(160, 225, 225);
$limit-break-indigo: rgb(158, 160, 222);
$limit-break-violet: rgb(240, 197, 244);

$gray-medium: rgb(101, 101, 101);
$gray-dark: rgb(43, 43, 43);